numpy~=2.1.1
pandas~=2.2.2
matplotlib~=3.9.2
seaborn
scikit-learn~=1.5.1
eventlet~=0.36.1
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
opencv-python
pillow~=10.4.0
lightning~=2.4.0
tensorboard
loguru~=0.7.2
--extra-index-url https://download.pytorch.org/whl/cu124
torch~=2.4.1
torchvision~=0.19.1
torchaudio
click~=8.1.7
moviepy~=1.0.3
Flask~=3.0.3
